:root {
  // COLORS
  --color-primary: hsl(158, 36%, 37%);
  --color-secondary: hsl(158, 42%, 18%);

  --color-black: hsl(212, 21%, 14%);
  --color-gray: hsl(228, 12%, 48%);
  --color-cream: hsl(30, 38%, 92%);
  --color-white: hsl(0, 0%, 100%);

  // TYPOGRAPHY
  --font-family-montserrat: "Montserrat";
  --font-family-fraunces: "Fraunces";

  --font-size-default: 1.4rem;

  --font-weight-medium: 500;
  --font-weight-bold: 700;
}
